# Mac OS X stuff
.DS_Store

# Windows stuff
Thumbs.db

# JetBrains stuff
.idea

# node modules
node_modules

# bower modules
app/bower

# composer modules
app/composer
composer.lock
composer.phar

# others
app/htaccess.md