* {
    box-sizing: border-box;
}

.field-field {
    position: relative;
}

.field-label {
    color: #959aa8;
    font: 300 19px fira_sanslight;
}

.field {
    font: 300 13px fira_sanslight;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea.field {
    resize: none;
}

.field-box {
    padding: 0 0 9px 18px;
}


.field-blue {
    color: #48cbe8;
    border-color: #48cbe8;
}

.field-blue::-webkit-input-placeholder {
    color: #48cbe8;
    text-overflow: ellipsis;
}

.field-blue::-moz-placeholder {
    color: #48cbe8;
    text-overflow: ellipsis;
}

.field-blue:-ms-input-placeholder {
    color: #48cbe8;
    text-overflow: ellipsis;
}

.field-blue::placeholder {
    color: #48cbe8;
    text-overflow: ellipsis;
}

.field-blue:focus::-webkit-input-placeholder {
    opacity: 0;
}

.field-blue:focus::-moz-placeholder {
    opacity: 0;
}

.field-blue:focus:-ms-input-placeholder {
    opacity: 0;
}

.field-blue:focus::placeholder {
    opacity: 0;
}

.field-red {
    color: #959aa8;
    background: #fdd5d2;
    border-color: #f97e76;
    transition: all .2s ease-in-out;
}

.field-green {
    color: #959aa8;
    background: rgba(153, 247, 153, 0.40);
    border-color: rgba(144, 238, 134, 0.76);
    transition: all .2s ease-in-out;
}

.has-error > .field{
    background-color: #fad2d1 !important;
    border-color: #f97e76 !important;
}

.has-error > .arrow-box {
    display: block;
}

.col-6 {
    width: 50%;
    float: left;
}

/* Error arrow box */

.arrow-box {
    display: none;
    position: absolute;
    font: 300 13px/26px fira_sanslight;
    padding: 0 15px;
    top: 50%;
    margin-top: -14px;
    background-color: #f97e76;
    border-radius: 2px;
    color: #fff;
    white-space: nowrap;
}

.arrow-box:after {
    content: '';
    position: absolute;
    border: 5px solid;
}

/* Left box */
.tooltip-left .arrow-box {
    margin-right: 6px;
    right: 100%;
}

.tooltip-left .arrow-box:after {
    border-color: transparent transparent transparent #f97e76;
    left: 100%;
    top: 50%;
    margin-top: -6px;
}

/* Right box */
.tooltip-right .arrow-box {
    margin-left: 6px;
    left: 100%;
}

.tooltip-right .arrow-box:after {
    border-color: transparent #f97e76 transparent transparent;
    right: 100%;
    top: 50%;
    margin-top: -6px;
}

.field-right {
    text-align: right!important;
}

.field-center {
    text-align: center!important;
}


/* server message box */

.server-message {
    display: none;
    padding: 0 9px;
}

.server-message .message-title {
    font-size: 25px;
    line-height: 1.4;
}

.server-message .message-body {
    font-size: 15px;
}

.server-error {
    color: #f97e76;
}

.server-success {
    color: darkgreen;
}