.logo-link {
    position: absolute;
    display: block;
    width: 119px;
    height: 100%;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/logo.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/logo.png', sizingMethod='scale')";
}

/* If lt IE8 */
.backgroundsize {
    background: url(/img/logo.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}