.logo-link {
    position: absolute;
    display: block;
    width: 119px;
    height: 100%;

    /* If lt IE8 */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='scale')";
}

html.backgroundsize .logo-link {
    background: url(/images/logo.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}