.social-list {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.social-list li {
    float: left;
    padding-right: 10px;
}

.icon-social {
    width: 47px;
    height: 47px;
    background: url(/img/social/sprite-social.png) no-repeat;
    float: left;
    
}

.icon-fb {
    background-position: -5px -5px;
}

.icon-fb:hover {
    background-position: -62px -5px;
}

.icon-git {
    background-position: -119px -5px;
}

.icon-git:hover {
    background-position: -176px -5px;
}

.icon-tw {
    background-position: -233px -5px;
}

.icon-tw:hover {
    background-position: -290px -5px;
}

.icon-vk {
    background-position: -347px -5px;
}

.icon-vk:hover {
    background-position: -404px -5px;
}